<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav mode="side" [opened]="true">
        <ul>
            <h1>{{ firstName }} {{ lastName }}</h1>
            <h2>Parameters</h2>
            <li>
                <button mat-button (click)="logOut()">Logout</button>
            </li>
        </ul>
    </mat-sidenav>
    <mat-sidenav-content>
        <div fxLayout="row wrap">
            <app-area-service
                *ngFor="let service of services"
                [reactionServices]="services"
                [name]="service.name"
                [description]="service.description"
                [image]="service.image"
                [areas]="service.areas"
                [genericReactionDescription]="
                    service.genericReactionDescription
                "
                [authenticateAction]="service.authenticateAction"
            ></app-area-service>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
