<mat-card>
    <mat-card-header>
        <img mat-card-avatar src="{{ image }}" />
        <mat-card-title>{{ title }}</mat-card-title>
        <mat-card-subtitle>{{ subtitle }}</mat-card-subtitle>
        <button mat-stroked-button color="primary">Authenticate</button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <span></span>
        <h3>Action:</h3>
        <mat-radio-group color="primary">
            <mat-radio-button checked>
                {{ actionDescription }}
            </mat-radio-button>
        </mat-radio-group>

        <h3>Reaction:</h3>
        <mat-radio-group color="primary" [(ngModel)]="reactionType">
            <mat-radio-button value="specific">
                {{ specificReactionDescription }}
            </mat-radio-button>
            <mat-radio-button value="generic">
                {{ genericReactionDescription }}
            </mat-radio-button>
        </mat-radio-group>

        <div *ngIf="reactionType == 'generic'">
            <mat-form-field>
                <mat-label>Services availables</mat-label>
                <mat-select>
                    <mat-option *ngFor="let elem of categories" [value]="label">
                        {{ label }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <button
            mat-flat-button
            color="primary"
            disabled="isLogged()"
            (click)="logIn()"
        >
            Register AREA
        </button>
    </mat-card-content>
</mat-card>
