{
    "openapi": "3.0.2",
    "info": {
        "title": "Area API",
        "description": "### AREA provide action/reaction pairs on a web service, or a text representing an action of a web service, sent on another web service as a reaction.\n\n# Introduction\nThis API is documented in **OpenAPI format** and is based on\n[Petstore sample](http://petstore.swagger.io/) provided by [swagger.io](http://swagger.io) team.\nIt was **extended** to illustrate features of [generator-openapi-repo](https://github.com/Rebilly/generator-openapi-repo)\ntool and [ReDoc](https://github.com/Redocly/redoc) documentation. In addition to standard\nOpenAPI syntax we use a few [vendor extensions](https://github.com/Redocly/redoc/blob/master/docs/redoc-vendor-extensions.md).\n\n# Authentication\n\nAREA offers one form of authentication:\n  - [Basic access authentication](https://tools.ietf.org/html/rfc7617)\n is a method for an HTTP user agent (e.g. a web browser) to provide a user name and password when making a request. In basic HTTP authentication, a request contains a header field in the form of Authorization: Basic <credentials>, where credentials is the base64 encoding of id and password joined by a single colon :.\n<SecurityDefinitions />\n",
        "version": "0.0.0"
    },
    "servers": [
        {
            "url": "https://area.marc0.fr/api",
            "description": "Marco VPS"
        }
    ],
    "security": [
        {
            "BasicAuth": []
        }
    ],
    "tags": [
        {
            "name": "User management",
            "description": "API to manage user account on AREA server."
        },
        {
            "name": "AREA",
            "description": "API to register actions and reactions (AREA) on AREA server."
        }
    ],
    "paths": {
        "/user/signup": {
            "post": {
                "tags": ["User management"],
                "summary": "Signup a new user",
                "description": "The server will decompose Authorization header to extract email and password. The password can come from a form or can be a Google login token.",
                "requestBody": {
                    "$ref": "#/components/requestBodies/User"
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Invalid form : email formating or password length less than 6"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "409": {
                        "description": "This user already exists : email address conflict"
                    }
                }
            }
        },
        "/user/me": {
            "get": {
                "tags": ["User management"],
                "summary": "Get user profile",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/User"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "description": "Email or password does not match, or the account with this email does not exist"
                    }
                }
            },
            "put": {
                "tags": ["User management"],
                "summary": "Modify user profile",
                "requestBody": {
                    "$ref": "#/components/requestBodies/User"
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Invalid form : email formating or password length less than 6"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "404": {
                        "description": "User indentify by email don't exist"
                    }
                }
            },
            "delete": {
                "tags": ["User management"],
                "summary": "Delete user profile",
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "description": "Email or password does not match, or the account with this email does not exist"
                    }
                }
            }
        },
        "/register-specific-area": {
            "post": {
                "tags": ["AREA"],
                "summary": "Registrer specific AREA",
                "description": "For each action, you can choose a specific reaction. Specific means that the reaction takes place on the same service as the action. For example, for the Youtube service, for the action \"If your favorite youtuber releases a video\", the specific reaction for this action can be \"This video is added to the queue\".",
                "requestBody": {
                    "$ref": "#/components/requestBodies/SpecificAREA"
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Invalid form : email formating or password length less than 6"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "description": "Email or password does not match, or the account with this email does not exist"
                    }
                }
            }
        },
        "/register-generic-area": {
            "post": {
                "tags": ["AREA"],
                "summary": "Registrer generic AREA",
                "description": "For each action, you can choose a generic reaction. Generic means that a text representing the action is sent on the service chosen as a reaction. For example, for the Youtube service, for the action \"If your favorite youtubeur releases a video\", the generic reaction to this action will be the sending of the text \"Squeezie released a video today at 3 pm\" on the service reaction you have chosen (an email on Office365 for example)",
                "requestBody": {
                    "$ref": "#/components/requestBodies/GenericAREA"
                },
                "responses": {
                    "200": {
                        "description": "OK"
                    },
                    "400": {
                        "description": "Invalid form : email formating or password length less than 6"
                    },
                    "401": {
                        "$ref": "#/components/responses/UnauthorizedError"
                    },
                    "403": {
                        "description": "Email or password does not match, or the account with this email does not exist"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "User": {
                "type": "object",
                "properties": {
                    "firstName": {
                        "type": "string",
                        "description": "User first name",
                        "example": "Vincent"
                    },
                    "lastName": {
                        "type": "string",
                        "description": "User last name",
                        "example": "Moscato"
                    },
                    "email": {
                        "type": "string",
                        "description": "User email address",
                        "example": "vincent.moscato@rmc.fr"
                    }
                }
            },
            "SpecificAREA": {
                "type": "object",
                "properties": {
                    "serviceName": {
                        "type": "string",
                        "description": "Action service name\n\n* `Github`\n* `Discord`\n* `Facebook`\n* `Imgur`\n* `Office365`\n",
                        "example": "Github"
                    },
                    "areaId": {
                        "type": "number",
                        "description": "`serviceName` == `\"Github\"` :\n * `0` - If you push a new branch, a pull request from this branch to master is create.\n\n`serviceName` == `\"Discord\"` :\n * `0` - If you are add to a channel, a message to this channel is send.\n\n`serviceName` == `\"Facebook\"` :\n * `0` - If TODO, then TODO\n\n`serviceName` == `\"Imgur\"` :\n * `0` - If you write 10 more comments, a picture is upload as a reward.\n\n`serviceName` == `\"Office365\"` :\n * `0` - If TODO, then TODO\n",
                        "example": 0
                    },
                    "actionAccessToken": {
                        "type": "string",
                        "description": "access_token used to check action and send reaction",
                        "example": "b844e95eee6b54dd32de894eee6b54dd32de894"
                    }
                }
            },
            "GenericAREA": {
                "type": "object",
                "properties": {
                    "actionServiceName": {
                        "type": "string",
                        "description": "Action service name\n\n* `Github`\n* `Discord`\n* `Facebook`\n* `Imgur`\n* `Office365`\n",
                        "example": "Github"
                    },
                    "actionId": {
                        "type": "number",
                        "description": "`actionServiceName` == `\"Github\"` :\n * `0` - If you push a new branch\n\n`actionServiceName` == `\"Discord\"` :\n * `0` - If you are add to a channel\n\n`actionServiceName` == `\"Facebook\"` :\n * `0` - If TODO\n\n`actionServiceName` == `\"Imgur\"` :\n * `0` - If you write 10 more comments\n\n`actionServiceName` == `\"Office365\"` :\n * `0` - If TODO\n",
                        "example": 0
                    },
                    "actionAccessToken": {
                        "type": "string",
                        "description": "access_token used to check action",
                        "example": "b844e95eee6b54dd32de894eee6b54dd32de894"
                    },
                    "reactionServiceName": {
                        "type": "string",
                        "description": "Reaction service name on which a text representing the action is sent\n\n* `Discord`\n* `Facebook`\n* `Office365`\n",
                        "example": "Discord"
                    },
                    "reactionAccessToken": {
                        "type": "string",
                        "description": "access_token used to send reaction",
                        "example": "dd32de894b844e95eee6b54dd32db844e956b54"
                    }
                }
            }
        },
        "requestBodies": {
            "User": {
                "description": "User model",
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/User"
                        }
                    }
                }
            },
            "SpecificAREA": {
                "description": "SpecificAREA model",
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/SpecificAREA"
                        }
                    }
                }
            },
            "GenericAREA": {
                "description": "GenericAREA model",
                "required": true,
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/GenericAREA"
                        }
                    }
                }
            }
        },
        "responses": {
            "UnauthorizedError": {
                "description": "Authentication information is missing or invalid",
                "headers": {
                    "WWW-Authenticate": {
                        "description": "Authorization header : Basic",
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string",
                            "example": "WWW-Authenticate: Basic realm=AREA-server"
                        }
                    }
                }
            }
        },
        "securitySchemes": {
            "BasicAuth": {
                "type": "http",
                "scheme": "basic",
                "description": "The client sends HTTP requests with the Authorization header that contains the word Basic word followed by a space and a base64-encoded string email:password."
            }
        }
    }
}
