mat-card {
    margin: 20px;
    padding: 20px;

    mat-card-header {
        button {
            align-self: baseline;
        }
    }
}

mat-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

mat-radio-button {
    margin: 5px;
}
