<mat-card>
    <mat-card-header>
        <img mat-card-avatar src="{{ image }}" />
        <mat-card-title>{{ name }}</mat-card-title>
        <mat-card-subtitle>{{ description }}</mat-card-subtitle>
        <button
            mat-stroked-button
            color="primary"
            (click)="authenticateAction()"
        >
            Authenticate
        </button>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
        <span></span>
        <h3>Action:</h3>
        <mat-radio-group color="primary">
            <mat-radio-button checked>
                {{ actionDescription }}
            </mat-radio-button>
        </mat-radio-group>

        <h3>Reaction:</h3>
        <mat-radio-group color="primary" [(ngModel)]="reactionType">
            <mat-radio-button value="specific">
                {{ specificReactionDescription }}
            </mat-radio-button>
            <mat-radio-button value="generic">
                {{ genericReactionDescription }}
            </mat-radio-button>
        </mat-radio-group>

        <div *ngIf="reactionType == 'generic'">
            <mat-form-field>
                <mat-label>Services availables</mat-label>
                <mat-select [(value)]="reactionServiceName">
                    <mat-option
                        *ngFor="let service of reactionServices"
                        [value]="service.name"
                    >
                        {{ service.name }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="reactionServiceName != undefined">
                <button
                    mat-stroked-button
                    color="primary"
                    (click)="authenticateReaction()"
                >
                    Authenticate
                </button>
            </div>
        </div>

        <button
            mat-flat-button
            color="primary"
            [disabled]="!isAuthenticate()"
            (click)="registerAREA()"
        >
            Register AREA
        </button>
    </mat-card-content>
</mat-card>
