.container {
    min-width: 40%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 10px;
    padding: 25px 40px;
    margin: auto;
    display: grid;

    h1 {
        text-align: center;
        color: #5e6c84;
        font-size: 16px;
        letter-spacing: -0.01em;
        line-height: 28px;
        margin-top: 10px;
        margin-bottom: 25px;
    }

    form {
        display: grid;

        tr {
            td {
                mat-form-field {
                    width: 100%;
                }
            }
        }
    }

    .login-method-separator {
        text-align: center;
        font-size: 12px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid hsl(0, 0%, 80%);
        margin: 1em 0;
        padding: 0;
    }

    .bottom-form-link {
        text-align: center;
        font-size: 14px;
        display: block;
        padding: 0;
        color: #0052cc;
    }
}

:host {
    display: flex;
    height: 100%;
}
